<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImGui.NET" version="1.72.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.9.7" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.7" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.7" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.7" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.7" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.7" targetFramework="net48" developmentDependency="true" />
  <package id="OpenGL.Net" version="0.8.4" targetFramework="net472" />
  <package id="OpenGL.Net.CoreUI" version="0.8.4" targetFramework="net472" />
  <package id="OpenGL.Net.Math" version="0.8.4" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net48" />
</packages>